h1 {
	text-align: center;
}

html {
	background-color: black;
	
}

h1, h2, h3, a, label, p, li {
	color: red;
}

#navb {
	border: 3px solid red;
	width: 200px;
}

.nav {
	padding: 5px;
	margin: 5px;
}

a:hover {
	color: white;
}

.formlabel {
	display: inline-block;
	width: 80px;
	margin: 5px;
}

textarea {
	width: 235px;
	margin: 5px;
}

button {
	margin-left: 100px;
}

.mediavampire {
	height: 300px;
	width: 200px;
}